html{
  background-color: lightgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.bg-img {
  background-image: url(images/person-smiling.jpeg);

  min-height: 500px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
  position: relative;
}


.container {
  position: absolute;
  margin: 20px;
  width: auto;
}


.topnav {
  overflow: hidden;
  background-color: rgb(8, 107, 228);
}


.topnav a {
  float: left;
  color: #f2f2f2d0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a.split {
  float: right;
  background-color: lightblue;
  color: white
}
.topnav a:hover {
  background-color: rgb(135, 168, 250);
  color: whitesmoke
}
.txt-about-me{
  text-indent:50px;
  padding: 0%;
}

.universal-container{
  margin-right: 50px;
  padding: 60px;
  border-width: 50px;
  border-right: purple

}

.box{
  display:flex;
}

.left-side{
  margin-right: 50px;
  padding: 60px;
  border-width: 50px;
  border-right: purple;
  
}

.img.major-app {
  position: relative;
  font-family: Arial;
  height: 50px;
  width: 60px;
  padding: 35px;
}

.image-container {
  position: relative;
  border-color: rgb(240, 240, 255);
  box-sizing: border-box;
}



 .overlay {
  bottom: 18%;
  right: 74%;
  transform: translate(-50%, -50%);
  background-color: rgb(135 168 250 / 69%);
  color: #f2f2f2;
  padding: 15px;
  font-size: 15px; 
  display: inline-flex;



}





